---
import HeroSection from './HeroSection.astro';
import ServerSection from './ServerSection.astro';
import BridgeSection from './BridgeSection.astro';
import ComposeSection from './ComposeSection.astro';
import InstallSection from './InstallSection.astro';
import QuoteSection from './QuoteSection.astro';
---

<div id="mcp-platform">
  <HeroSection />
  <ServerSection />
  <BridgeSection />
  <ComposeSection />
  <InstallSection />
  <QuoteSection />
</div>
